<ion-header>
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Importe total</ion-label>
    <ion-label>{{total}} $</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Número de comensales</ion-label>
    <ion-label>{{numeroComensales}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Importe comensal</ion-label>
    <ion-label>{{totalComensal}} $</ion-label>
  </ion-item>
</ion-content>
