<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Calcular propina</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Importe total</ion-label>
    <ion-input type="number" [(ngModel)]="importe"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Número comensales</ion-label>
    <ion-input type="number" [(ngModel)]="numComensales" accept="numer"></ion-input>
  </ion-item>
  <ion-radio-group value="" (ionChange)="cambioValorPropina($event)">

    <ion-list-header>
      <ion-label size="medium">Cantidad propina</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>0%</ion-label>
      <ion-radio slot="start" value="0"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>10%</ion-label>
      <ion-radio slot="start" value="10"></ion-radio>
    </ion-item>
    <ion-item>

      <ion-label>15%</ion-label>
      <ion-radio slot="start" value="15"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>20%</ion-label>
      <ion-radio slot="start" value="20"></ion-radio>
    </ion-item>

    <ion-item>      
      <ion-label>Otro</ion-label>
      <ion-radio slot="start" value="otro"></ion-radio>
    </ion-item> 

  </ion-radio-group>

  <ion-item *ngIf="mostrarRango">
    <ion-label>{{propina}}%</ion-label>
    <ion-range min="0" max="100" pin color="secondary" (ionChange)="cambioValorPropinaRango($event)">
      <ion-icon slot="start" name="arrow-down-outline"></ion-icon>
      <ion-icon slot="end" name="arrow-up-outline"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-button (click)="calcular()" expand="block" color="success">Calcular</ion-button>
 
</ion-content>
